@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


html, body {
    font-family: 'Kumbh Sans', sans-serif;
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background: linear-gradient(45deg,  #23A6D5, #8f0b89, #23A6D5);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}
	
    
    @-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}


#topNavbar {
    background: transparent;
}

#botNavbar {
    background-color: #f3f3f3;
}

#regbutton {
    color: #f3f3f3;
    background-color: #8f0b89;
    border-radius: 200px;
}

#regbutton:hover {
    filter: brightness(110%);
}

#logbutton {
    border-radius: 200px;
    color: #8f0b89;
    background-color: transparent;
    background-image: none;
    border-color: #8f0b89;
}

#logbutton:hover {
    color: white;
    background-color: #8f0b89;
    border-color: #8f0b89;
}

#logbutton:focus {
    box-shadow: 0 0 0 .2rem rgba(143, 11, 137, 0.5);
}

#logbutton:disabled {
    color: #8f0b89;
    background-color: transparent
}


