html {
    min-height: 100%;
}

body{
    background: rgb(31,42,54);
    background: linear-gradient(180deg, rgba(31,42,54,1) 0%, rgba(143,11,137,1) 100%);
}

#topNavbar {
    background-color: #6a097d;
}

#botNavbar {
    background-color: #f3f3f3;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}

#regbutton {
    color: #f3f3f3;
    background-color: #8f0b89;
    border-radius: 250px;
}

#regbutton:hover {
    filter: brightness(110%);
}

#logbutton {
    border-radius: 250px;
}